
@{
  ViewData["Title"] = "DetectImage";
}
@model app.Models.ImageModel
<h2>DetectImage</h2>

@using (Html.BeginForm("DetectImage", "Home", FormMethod.Post))
{
  <div class="col-lg-12 control-section">
    <div style="margin:20px">
      @*@Html.HiddenFor(m => m.Url)
      @Html.HiddenFor(m => m.isAnalyse)*@
      @if (Model.isAnalyse != false)
      {
        <div class="row material2">
          <div class="col-xs-1 col-sm-1 col-lg-2 col-md-1">
            <button type="submit" name="submitButton" value="Detect Faces">Detect Faces</button>
          </div>
          <div class="col-xs-1 col-sm-1 col-lg-3 col-md-1">
            <button type="submit" name="submitButton" value="Detect Objects and Scenes">Detect Objects and Scenes</button>
          </div>
          <div class="col-xs-1 col-sm-1 col-lg-2 col-md-1">
            <button type="submit" name="submitButton" value="Detect Text">Detect Text</button>
          </div>
        </div>
      }
      @if (Model != null)
      {

        <div class="row material2">
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-3" style="overflow-x:auto; margin:20px">
            <table>
              @{ if (Model.Labels != null && Model.Labels.Count >0)
                  {
                foreach (var lbl in Model.Labels)
                {
                    <tr>
                      <td class="col-lg-1">@Html.DisplayFor(m => lbl.Name)</td>
                      <td class="col-lg-1">@Html.DisplayFor(m => lbl.Confidence)%</td>
                    </tr>
                    }
                  }
                 
                  }
              @*}*@
             
              @if (Model.FaceDetails != null)
                {
                @foreach (var faceDetail in Model.FaceDetails)
                  {
                    <tr>
                      <td colspan="3">Appears to be            @Html.DisplayFor(m => faceDetail.Gender.Value.Value)</td>
                      <td >@Html.DisplayFor(m => faceDetail.Gender.Confidence)%</td>
                    </tr>
                    @if (faceDetail.Eyeglasses.Value)
                    {
                      <tr>
                        <td class="col-lg-1">Wearing glasses @Html.DisplayFor(m => faceDetail.Beard.Confidence)%</td>
                      </tr>
                    }
                    @if (faceDetail.Sunglasses.Value)
                    {
                      <tr>
                        <td><label>Wearing Sunglasses</label></td>
                        <td class="col-lg-1">@Html.DisplayFor(m => faceDetail.Sunglasses.Confidence)%</td>
                      </tr>
                    }
                    <tr>
                      <td colspan="3">Age Range  </td>
                      <td>@Html.DisplayFor(m => faceDetail.AgeRange.Low) - @Html.DisplayFor(m => faceDetail.AgeRange.High) old</td>
                    </tr>
                  }
                }
              
             

              @{ if (Model.TextDetections != null)
                {
                foreach (var text in Model.TextDetections)
                  {
                    <tr>
                      <td class="col-lg-1">Text:</td>
                      <td class="col-lg-1">@Html.DisplayFor(m => text.DetectedText)</td>

                    </tr>
                    <tr>
                      <td class="col-lg-1">Confidence:</td>
                      <td class="col-lg-1">@Html.DisplayFor(m => text.Confidence)%</td>
                    </tr>
                    <tr>
                      <td class="col-lg-1">Type:</td>
                      <td class="col-lg-1">@Html.DisplayFor(m => text.Type.Value)</td>
                    </tr>
                  }
                }
             
              }
            </table>
          </div>
          <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src=@Model.Url height="400" width="400" />
          </div>
        </div>
        
      }
    </div>
  </div>


}



